<!DOCTYPE html>
<html class="has-navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(#{__${titleKey}__})}"></head>
<body class="is-flex is-flex-direction-column">

<header th:replace="~{fragments/layout :: navbar}"></header>
<div th:replace="~{fragments/layout :: flash}"></div>

<main class="section pt-5 is-flex-grow-1">
    <div class="container is-fluid">

        <div class="level mb-5">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-4 mb-0" th:text="#{__${titleKey}__}">Items</h1>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <span class="tag is-light is-rounded" th:text="${plural.records(items.totalElements)}">0 records</span>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/filters :: bar(${filter}, ${categories}, ${basePath}, ${sort.parameter(sort.property)})}"></div>

        <div class="box p-0">
            <div class="table-container">
                <table class="table is-fullwidth is-hoverable mb-0 items-table">
                    <thead>
                    <tr>
                        <th th:replace="~{fragments/sorting :: header('id', '#', ${sort}, ${basePath}, ${filterQuery})}"></th>
                        <th class="is-size-7 is-uppercase has-text-grey"><span class="is-sr-only" th:text="#{field.image}">Image</span></th>
                        <th th:replace="~{fragments/sorting :: header('title', #{field.title}, ${sort}, ${basePath}, ${filterQuery})}"></th>
                        <th th:replace="~{fragments/sorting :: header('date', #{field.date}, ${sort}, ${basePath}, ${filterQuery})}"></th>
                        <th class="is-size-7 is-uppercase has-text-grey" th:text="#{field.place}">Place</th>
                        <th class="is-size-7 is-uppercase has-text-grey" align="center">
                            <a class="is-primary" th:if="${perms.can(scope, 'CREATE')}"
                               th:href="@{${basePath} + '/new'}">
                                <span class="icon" aria-hidden="true"><i class="fa-solid fa-plus"></i></span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${items.content}">
                        <td class="id is-vcentered py-3">
                            <button type="button" class="button is-ghost p-0" command="show-modal"
                                    th:commandfor="'item-' + ${item.id}"
                                    th:text="${item.id}">1</button>
                        </td>

                        <td class="is-narrow is-vcentered py-3">
                            <th:block th:replace="~{fragments/dialogs :: thumb('item', ${item}, 'is-48x48')}"></th:block>
                        </td>

                        <td class="is-vcentered py-3">
                            <th:block th:replace="~{fragments/dialogs :: trigger('item', ${item})}"></th:block>
                            <p class="is-size-7 has-text-grey" th:if="${item.description}"
                               th:text="${item.description}">опис</p>
                        </td>

                        <td class="is-vcentered py-3" th:text="${fmt.date(item.date)}">2026-01-01</td>
                        <td class="is-vcentered py-3" th:text="${item.placeName}">Місце</td>

                        <td class="is-vcentered py-3 has-text-right">
                            <div class="dropdown row-actions-menu">
                                <button type="button" class="button is-light is-small row-actions-trigger"
                                        th:popovertarget="'actions-' + ${item.id}"
                                        th:title="#{action.rowMenu}" th:aria-label="#{action.rowMenu}">
                                    <span class="icon" aria-hidden="true"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                                </button>

                                <div class="dropdown-content row-actions" popover
                                     th:id="'actions-' + ${item.id}">
                                    <a class="dropdown-item" th:if="${perms.can(scope, 'EDIT')}"
                                       th:href="@{${basePath} + '/' + ${item.id} + '/edit'}">
                                        <span class="icon has-text-grey" aria-hidden="true"><i class="fa-solid fa-pen"></i></span>
                                        <span th:text="#{action.edit}">Edit</span>
                                    </a>

                                    <form th:if="${perms.can(scope, 'ARCHIVE')}" method="post"
                                          th:action="@{${basePath} + '/' + ${item.id} + '/archive'}"
                                          th:onsubmit="'return confirm('' + #{list.confirmArchive} + '')'">
                                        <button type="submit" class="dropdown-item">
                                            <span class="icon has-text-grey" aria-hidden="true"><i class="fa-solid fa-box-archive"></i></span>
                                            <span th:text="#{action.archive}">Archive</span>
                                        </button>
                                    </form>

                                    <hr class="dropdown-divider" th:if="${perms.can(scope, 'DELETE')}">

                                    <form th:if="${perms.can(scope, 'DELETE')}" method="post"
                                          th:action="@{${basePath} + '/' + ${item.id} + '/delete'}"
                                          th:onsubmit="'return confirm('' + #{list.confirmDelete} + '')'">
                                        <button type="submit" class="dropdown-item has-text-danger">
                                            <span class="icon" aria-hidden="true"><i class="fa-solid fa-trash"></i></span>
                                            <span th:text="#{action.delete}">Delete</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${items.empty}">
                        <td colspan="6" class="has-text-centered has-text-grey py-6">
                            <span class="icon is-large has-text-grey-lighter mb-3" aria-hidden="true">
                                <i class="fa-2x fa-solid fa-inbox"></i>
                            </span>
                            <p class="has-text-weight-medium" th:if="${!filter.active()}" th:text="#{list.empty}">No records yet</p>
                            <p class="is-size-7" th:if="${!filter.active() and perms.can(scope, 'CREATE')}">
                                <span th:text="#{list.emptyHint}">Press "Add" to create the first one.</span>
                            </p>
                            <p class="has-text-weight-medium" th:if="${filter.active()}" th:text="#{list.nothingFound}">Nothing found</p>
                            <p class="is-size-7" th:if="${filter.active()}" th:text="#{list.nothingFoundHint}">Try relaxing the filters.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <nav th:replace="~{fragments/layout :: pager(${pages}, ${basePath}, ${filterQuery} + ${sortQuery})}"></nav>
    </div>
</main>

<th:block th:each="item : ${items.content}">
    <th:block th:replace="~{fragments/dialogs :: dialogs('item', ${item}, ${basePath}, ${scope})}"></th:block>
</th:block>

</body>
</html>
