{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy getaway:8080
}

{$ADMIN_DOMAIN} {
	encode zstd gzip
	reverse_proxy admin-api:8083
}

{$AUTH_DOMAIN} {
	encode zstd gzip
	@console path /admin /admin/* /realms/master /realms/master/*
	respond @console 404
	reverse_proxy keycloak:8080
}
