<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th th:fragment="header(column, label, sort, basePath, query)"
    class="is-size-7 is-uppercase has-text-grey">
    <a class="sortable" th:href="@{${basePath}(sort=${sort.parameter(column)})} + ${query}"
       th:classappend="${sort.by(column)} ? 'is-active'">
        <span th:text="${label}">#</span>
        <span class="icon is-small" aria-hidden="true">
            <i class="fa-solid" th:classappend="${sort.icon(column)}"></i>
        </span>
    </a>
</th>

</body>
</html>
